<html>
<head>
<title>DODONE</title>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="bower_components/trianglify/trianglify.js"></script>
<script>

	var t = new Trianglify();
	var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
	document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);

</script>

<style>

body{
background:black;
color:white;
margin:50px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}


</style>
</head>

<body>

<h1>DO.</h1>
<h1>DONE.</h1>
<br><br>

<h1>{{ ip }}</h1>
</body>
</html>
